<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>quantumTest</title>

    <!-- build:css(src) styles/application.css -->
    <!-- bower:css -->
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css"/>
    <!-- endbower -->
        <link rel="stylesheet" type="text/css" href="styles/app.css"/>
    <!-- endbuild -->
</head>
<body ng-app="quantumTestApp">

    <div ng-controller="IndexController" class="app-wrapper" layout="column" layout-align="start start">
        <div class="route-wrapper full-height" layout="column" layout-align="center center">
            <div class="md-whiteframe-z3" layout-padding layout="row" layout-align="center center">

                <div class="treeView" tree-view="2" data="dataCache" update-event="cache:updated" on-select="selectCacheItem"></div>

                <div class="centerColumn">
                    <button ng-click="addToCache()">&laquo;</button>
                </div>

                <div class="treeView" tree-view="1" data="data" update-event="store:updated" on-select="selectItem"></div>

            </div>
            <div class="md-whiteframe-z3" layout="row" layout-padding>
                <button ng-click="commit()">Commit</button>
                <button ng-click="reset()">Reset</button>
                <button ng-click="edit()">Edit</button>
                <button ng-click="create()">+</button>
                <button ng-click="delete()">-</button>
            </div>
        </div>
    </div>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <script type="application/javascript" src="bower_components/angular/angular.js"></script>
    <script type="application/javascript" src="bower_components/underscore/underscore-min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script type="application/javascript" src="store_items.js"></script>

    <!-- build:js(.tmp) scripts/app.js -->
    <script type="application/javascript" src="scripts/app.js"></script>

    <script type="application/javascript" src="scripts/appEvents.js"></script>
    <script type="application/javascript" src="scripts/store/StoreDataLoader.js"></script>

    <script type="application/javascript" src="scripts/config.js"></script>
    <!-- endbuild -->

    <!-- build:js(.tmp) scripts/scripts.js -->
    <script type="application/javascript" src="scripts/store/ChildrenCache.js"></script>

    <script type="application/javascript" src="scripts/store/Cache.js"></script>
    <script type="application/javascript" src="scripts/store/Store.js"></script>
    <script type="application/javascript" src="scripts/store/StoreItem.js"></script>

    <script type="application/javascript" src="scripts/controllers/index/index.js"></script>

    <script type="application/javascript" src="scripts/directives/TreeView.js"></script>

    <!-- endbuild -->

    <!--<script type="application/javascript" src="scripts/TreeGenerator.js"></script>-->

</body>
</html>